.container

= form_for [@project, @task], html: {class: "form-horizontal"} do |f|

  = render partial: "shared/errors", locals:{object: @task}

  .form-group
    = f.label :description, class: "col-md-2 control-label"
    .col-md-6
      = f.text_field :description, class: "form-control", placeholder:"Description"


  .form-group
    = f.label :due_date, class: "col-md-2 control-label"
    .col-md-3
      = f.text_field :due_date, class: "form-control", placeholer:"Due Date"

  -unless @task.new_record?
    .form-group
      .col-md-offset-2.col-md-6
        = f.check_box :complete
        = f.label :complete

  .form-group
    .col-md-offset-2.col-md-6
      = f.submit class: "btn btn-primary"
      = link_to "Cancel", project_tasks_path(@project), class: "btn btn-default"
