.container
  .page-header
    .row
      .col-md-7
        %h1
          - if @task.complete == true
            %s
              = @task.description
          - else
            = @task.description

      .col-md-5
        .pull-right
          =  link_to "Edit", edit_project_task_path(@project, @task), class: "btn btn-info margin-top-button"

  %ol.breadcrumb
    %li
      = link_to "Projects", projects_path
    %li
      = link_to @project.name, project_path(@project)
    %li
      = link_to "Tasks", project_tasks_path
    %li
      = @task.description

  .row
    .col-md-7
      - if @task.due_date
        Due on:
        = @task.due_date.strftime("%m/%d/%Y")

  %h2 Comments
