.container
  .page-header
    .row
      .col-md-7
        %h1
          - if @task.complete == true
            %s
              = @task.description
          - else
            = @task.description

      .col-md-5
        .pull-right
          =  link_to "Edit", edit_project_task_path(@project, @task), class: "btn btn-info margin-top-button"

  %ol.breadcrumb
    %li
      = link_to "Projects", projects_path
    %li
      = link_to @project.name, project_path(project)
    %li
      = link_to "Tasks", project_tasks_path
    %li
      = @task.description

  .row
    .col-md-7
      - if @task.due_date
        Due on:
        = @task.due_date.strftime("%m/%d/%Y")

  %h2 Comments
  .comments
    - @task.comments.each do |comment|
      .row
        .col-md-3
          .row
            .col-md-12
              -unless User.where(id: comment.user_id) == []
                = link_to comment.user.full_name, user_path(comment.user)
              -else
                %p (deleted user)

          .row
            .col-md-12.txt-muted
              = time_ago_in_words(comment.created_at) + " ago"
        .col-md-9
          %p= comment.content
        %br

  = form_for [@project, @task, @comment], html: {class: 'form-horizontal'} do |f|
    .form-group
      .col-md-offset-3.col-md-9
        = f.text_area :content, class: 'form-control'
    .form-group
      .col-md-offset-3.col-md-7
        = f.submit 'Add Comment', class: 'btn btn-primary'
