.container
= form_for @user, html: { class: "form-horizontal"} do |f|
  = render partial: "shared/errors", locals:{object: @user}

  .form-group
    = f.label :first_name, class: "col-md-2 control-label"
    .col-md-7
      = f.text_field :first_name, class: "form-control"

  .form-group
    = f.label :last_name, class: "col-md-2 control-label"
    .col-md-7
      = f.text_field :last_name, class: "form-control"

  .form-group
    = f.label :email, class: "col-md-2 control-label"
    .col-md-7
      = f.email_field :email, class: "form-control"

  .form-group
    = f.label :password, class: "col-md-2 control-label"
    .col-md-7
      = f.password_field :password, class: "form-control"

  .form-group
    = f.label :password_confirmation, class: "col-md-2 control-label"
    .col-md-7
      = f.password_field :password_confirmation, class: "form-control"


  .form-group
    .col-md-offset-2.col-md-6
      = f.submit class: "btn btn-primary"
      = link_to "Cancel", users_path, class: "btn btn-default"
  .form-group
    .col-md-offset-2.col-md-6
      - if current_user.admin || !current_user 
        = f.check_box :admin
        = f.label :admin

  .form-group
    .col-md-offset-2.col-md-4
      - unless @user.new_record?
        .well
          .text-center
            = link_to "Delete", user_path(@user), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure you want to delete this?"}
