<div class = "container">
  <table class= "table">
    <div class= "pull-right">
      <%= link_to "New User", new_user_path, class: "btn btn-info margin-top-button"%>
    </div>
    <h1> Users </h1>


    <table class = "table">
      <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              Email
            </th>
          </tr>
      </thead>
          </div>

    <tbody>
      <% @users.each do |users| %>
        <tr>
          <td>
            <u><%= link_to users.first_name, user_path(users) %>
            <%= link_to users.last_name, user_path(users) %></u>
          </td>
          <td>
            <u><%= link_to users.email, user_path(users)  %></u>
          </td>
          <td>
          </td>
          <td>
          </td>
         <td>
          <div class='pull-right'>
            <u><%= link_to "Edit", edit_user_path(users) %></u>
         </td>

       </tr>
     <% end %>
    </tbody>
  </table>
</div>
