.container
  .well.col-md-6.col-md-offset-3
    .page-header
      %h3 Sign into gCamp
    .form-group
      -if @authentication_error
        %p.text.text-danger= @authentication_error

    = form_tag sign_in_path, class: "form" do |f|

      .form-group
        = label_tag :email, nil, class: 'control-label'
        = email_field_tag :email, nil, class: 'form-control'

      .form-group
        = label_tag :password, nil, class: 'control-label'
        = password_field_tag :password, nil, class: "form-control"

      .form-group
        = submit_tag 'Sign In', class: "btn btn-default"
