<!DOCTYPE html>
<html>
<head>
  <title>LandingPage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-brand" href="#">gCamp</div>
  </div>
</div>
</nav>

<div class="container">
  <% if flash[:notice] %>
  <div class="alert alert-success"><%=  flash[:notice] %></div>
  <% end %>
</div>
  <%= yield %>

</html>
  <div class="container"</div>
    <footer class="navbar-bottom">
      <div class="page-header"></div>

      <%= link_to "Terms", "/terms" %> |
      <%= link_to "About", "/about" %> |
      <%= link_to "FAQ", "/faq" %> |
      <%= link_to "Tasks", "/tasks" %> |
      <%= link_to "Users", "/users" %>
      <%= link_to image_tag('galvinize.jpg', class: "link_image2"), "https://students.gschool.it/cohorts/8/students/279"%>
      <%= link_to image_tag('Twitter.jpg', class: "link_image"), "https://twitter.com/dcgood1989"%>
      <%= link_to image_tag('Github.jpg', class: "link_image"), "https://github.com/dcgood1989"%>
      <%= link_to image_tag('Linkedin.jpg', class: "link_image"), "www.linkedin.com/pub/dillon-good/b1/257/634/"%>
    </footer>
