%head
  %title LandingPage
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags
%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-brand{:href => "#"} gCamp
.container
  - if flash[:notice]
    .alert.alert-success= flash[:notice]
= yield
.container
  %footer.navbar-bottom
    .page-header
    = link_to "Terms", "/terms"
    |
    \#{link_to "About", "/about"}
    |
    \#{link_to "FAQ", "/faq"}
    |
    \#{link_to "Tasks", "/tasks"}
    |
    \#{link_to "Users", "/users"}
    |
    \#{link_to "Projects", "/projects"}

    \#{link_to image_tag('galvinize.jpg', class: "link_image2"), "https://students.gschool.it/cohorts/8/students/279"}
    \#{link_to image_tag('Twitter.jpg', class: "link_image"), "https://twitter.com/dcgood1989"}
    \#{link_to image_tag('Github.jpg', class: "link_image"), "https://github.com/dcgood1989"}
    \#{link_to image_tag('Linkedin.jpg', class: "link_image"), "www.linkedin.com/pub/dillon-good/b1/257/634/"}
